
/*CSS*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

:root {
  --tomato-width: 100px;
  --background-color: #F7934C;
  --btn-color:  #CC5803;
  --settings-background-color: #FFC15E;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color:#1F1300;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  padding: 1rem;
}

h1 {
  padding: 1rem;
  font-weight: 700;
}

h2 {
  margin-bottom: .3rem;
  font-weight: 600;
}

ul, ol {
  list-style-position: inside;
}



.description {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  width: 95%;

}

.pomodoro-technique-description {
  justify-self: center;
}

.pomodoro-technique-description p {
  font-weight: 600;
}

.introduction {
  justify-self: center;
}

#tools-list {
  list-style: none;
}


#tools-list li:nth-child(1){
  background-image: url(../icons/counting-hand.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  margin-bottom: 10px;
  background-position: left; 
}

#tools-list li:nth-child(2){
  background-image: url(../icons/starting-from.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  margin-bottom: 10px; 
  background-position: left; 
}

#tools-list li:nth-child(3){
  background-image: url(../icons/stopwatch.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  margin-bottom: 5px;
  background-position: left; 
}

.settings {
  background-color: var(--settings-background-color);
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.counter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 0.5;
}

.btn {
  background-color: var(--btn-color);
  padding: .6rem;
  color:white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-content: center;
}

.reset-button {
  margin-top: 1rem;
  font-size: 1rem;
}

.counter-result-container {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starting-from-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.starting-from-section img {
  margin-bottom: .5rem;
}

.starting-from-input {
  display: flex;
  gap: .5rem;
}

.starting-from-input input {
  border-radius: 5px;
  border: none;
  text-align: center;
}


.starting-from-button {
  width: 25%;
}


.stopwatch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}


.tomato-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: .5rem;
  padding: 1rem;
}

.tomato {
  background-image: url(../img/tomato.png);
  background-size: cover;
  background-position: center;
  height: var(--tomato-width);
  width: var(--tomato-width); 
}